@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bebas-neue-bold {
  font-family: "bebas-neue-bold";
  src: url("../../public/fonts/BebasNeue-Bold.ttf");
}

.font-bebas-neue-regular {
  font-family: "bebas-neue-regular";
  src: url("../../public/fonts/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Ogg Roman";
  src: url("/fonts/OggRoman.ttf");
}

.font-ogg {
  font-family: "ogg-roman";
  src: url("../../public/fonts/ogg-roman.otf");
}
